@import "colors";

@mixin container {
  width: 100%;
  height: 100%;
  background-color: $background-grey;
}

@mixin content-wrapper {
  padding: 5rem 0;
  color: white;
}

@mixin title {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  text-align: center;
  margin: 1rem auto;
}

@mixin content {
  font-size: 1.2em;
  cellspacing: 1.2em;
}

@mixin box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  border-spacing: 1rem;
  border-collapse: separate;

  tr {
    td {
      padding: 8px;
    }
  }
}