@import 'mixin';

.about-wrapper {
    @include content-wrapper;

    .about-title {
        @include title;
    }
    .about-content {
        @include content;

        tr {
            td {
                a {
                    color: white;

                    &:hover {
                        color: $hover-white;
                    }
                }
            }
        }
    }

    .box-wrapper {
        @include box-wrapper;
    }
}
