@import 'colors';

.container {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  box-sizing: inherit;
  word-wrap: break-word;
  padding: 5rem 0;
  color: white;
  font-size: 1.2rem;
}

.title {
  font-size: 4rem;
  font-family: Anton, sans-serif;
  text-align: center;
  padding: 1rem 0;
}
