@import "mixin";

.work-wrapper {
  @include content-wrapper;

  .work-title {
    @include title;
  }

  .work-content {
    @include content;

    h3 {

      a {
        color: white;

        &:hover {
          color: $hover-white;
        }
      }
    }

    p {
      text-align: center;
    }
  }

  .box-wrapper {
    @include box-wrapper;
  }
}
