@import 'colors';

$header-height: 6%;
.header-wrapper {
    width: 100%;
    height: $header-height;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    z-index: 10;
}

.header-left {
    margin: 1.2rem 0;
    transition: all 0.5s;
    display: inline-block;

    a {
        padding: 0 0.5rem;
        color: white;

        &:hover {
            color: $hover-white;
        }
    }
}

.header-right {
    float: right;
    // display: inline;
    margin: 1rem 0;
    margin-right: 1rem;
    font-size: 0.8rem;
    a {
        margin-right: 1.3rem;
        .fa-github {
            color: white;
            &:hover {
                color: $hover-white;
            }
        }
        .fa-twitter-square {
            color: $favicon-blue;
            &:hover {
                color: $hover-favicon-blue;
            }
        }
        .fa-blog {
            color: white;
            &:hover {
                color: $hover-white;
            }
        }
    }
}

.header-menu {
    float: right;
    margin: 0.75rem 0;
    font-size: 2rem;
    margin-right: 2rem;
    color: white;
    display: none;
}

@media (max-width: 1000px) {
}

@media (max-width: 670px) {
    .header-right {
        display: none;
    }

    .header-menu {
        display: inline-block;
    }
}
