@import 'colors';

$header-height: 6%;
.header-wrapper {
    width: 100%;
    height: $header-height;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    z-index: 10;
}

.header-left {
    margin: 1.2rem 0;
    transition: all 0.5s;
    display: inline-block;

    a {
        padding: 0 0.5rem;
        color: white;

        &:hover {
            color: $hover-white;
        }
    }
}

.header-right {
    float: right;
    margin: 0.75rem 0;
    font-size: 2rem;
    margin-right: 2rem;
    color: white;
    display: none;
}

@media (max-width: 1000px) {
}

@media (max-width: 670px) {
    .header-left {
        display: none;
    }

    .header-right {
        display: block;
    }
}
