html {
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro',
    '游ゴシック Medium', 'YuGothic', 'YuGothicM', 'メイリオ', 'Meiryo',
    sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body {
  margin: 0;
}
