name: CD
on: 
  push:
    branch: main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        node-version: ['14']
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0
      - name: Set Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1.3.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install
      - name: build
        run: yarn build
      - name: deploy
        run: |
          gitconfig --global user.name ${{secrets.USER_NAME}}
          gitconfig --global user.email ${{secrets.USER_EMAIL}}
          git remote set-url origin https://${{secrets.ACCESS_TOKEN}}@github.com/${{secrets.USER_NAME}}/portfolio
          yarn deploy
        

